<h3>Atualizar Sala</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">nome</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="sala.nome" name="name">
    </div>

    <div class="form-group">
      <label for="name">date</label>
      <input type="text" class="form-control" id="date" required [(ngModel)]="sala.data" name="date">
    </div>

    <div class="form-group">
      <label for="name">start Hour</label>
      <input type="text" class="form-control" id="horaInicio" required [(ngModel)]="sala.horaInicio" name="horaInicio">
    </div>

    <div class="form-group">
      <label for="name">end Hour</label>
      <input type="text" class="form-control" id="horaFim" required [(ngModel)]="sala.horaFim" name="horaFim">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>